h1 {
	text-align: center;
}

.keyboard {
	margin-top: 50px;
	text-align: center;
	margin-bottom: 50px;
}

.modules {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 71vw;
	margin: auto;
}