<div class="osc">
	<h2>Oscillator</h2>
	<div class="sub behaviour">
		<h3>Type</h3>
		<app-switch [(ngModel)]="mode" [options]="['mono', 'poly']" label="Polyphony" (change)="update()"></app-switch>
		<app-switch [(ngModel)]="waveform" [options]="['sine', 'sawtooth', 'square', 'triangle']" label="Waveform" (change)="update()"></app-switch>
	</div>
	<div class="sub detune">
		<h3>Detune</h3>
		<app-fader [(ngModel)]="detuneAmount" (change)="update()" label="Amount" min="0" max="100"></app-fader>
		<app-fader [(ngModel)]="detuneFrequency" (change)="update()" label="Rate" min="0.001" max="10"></app-fader>
	</div>
</div>